Repository develop-mental-llc/create-react-admin-amplify-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --fix, yarn prettier --write, yarn sort-package-json

feat(git): improve gitgnore
  .gitignore
Due: none

fix(jest): fix App test
  demo/src/App.test.tsx
Due: yarn lint --fix, yarn prettier --write

fix(script): use commonjs
  babel.config.js
  jest.config.js
  package.json
Due: yarn lint --fix, yarn prettier --write, yarn sort-package-json

chore(misc): initial script with prompt functionality
  README.md
  package.json
  src/bootstrap.ts
Due: yarn lint --fix, yarn prettier --write, yarn sort-package-json

feat(bootstrap): directory checks
  src/bootstrap.ts
Due: yarn lint --fix, yarn prettier --write

refactor(script): move helpers to another file
  src/bootstrap.ts
  src/helpers.ts
Due: yarn lint --fix, yarn prettier --write

feat(amplify): add amplify and other steps
  src/bootstrap.ts
  src/helpers.ts
Due: yarn lint --fix, yarn prettier --write

feat(script): parse name from command line, add help text, handle help flags
  src/bootstrap.ts
  src/helpers.ts
Due: yarn lint --fix, yarn prettier --write

feat(docs): add docs
  README.md
Due: none

feat(project): remove yarn
  .huskyrc.yml
  .lintstagedrc.yml
  README.md
  package-lock.json
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

fix(misc): script to run with npm like others
  .huskyrc.yml
  package.json
Due: yarn prettier --write, yarn sort-package-json

chore(misc): reword output about amplify
  src/bootstrap.ts
Due: yarn lint --fix, yarn prettier --write

chore(misc): improve text output to be more helpful, add debug options to skip CRA and RA
  src/bootstrap.ts
  src/helpers.ts
Due: yarn lint --fix, yarn prettier --write

fix(bootstrap): improve process handling of signals and exit cleanly
  package-lock.json
  package.json
  src/bootstrap.ts
Due: yarn lint --fix, yarn prettier --write, yarn sort-package-json

feat(bootstrap): add remaining logic after amplify runs
  README.md
  src/bootstrap.ts
  src/helpers.ts
Due: yarn lint --fix, yarn prettier --write

fix(amplify): correctly detach stdin from subprocess
  src/bootstrap.ts
  src/helpers.ts
Due: yarn lint --fix, yarn prettier --write

fix(amplify): fix amplify add api step
  src/bootstrap.ts
  src/helpers.ts
Due: yarn lint --fix, yarn prettier --write

feat(bootstrap): add App.js step
  package.json
  src/appjs/apikey.app.jsx
  src/appjs/cognito.app.jsx
  src/bootstrap.ts
Due: yarn lint --fix, yarn prettier --write, yarn sort-package-json

chore(misc): add text to app.js step
  src/bootstrap.ts
Due: yarn lint --fix, yarn prettier --write

Path conditions:
  yarn lint --fix: any of: *.{ts,tsx,js,cjs,mjs,jsx}
  yarn prettier --write: (any of: *.{ts,tsx,js,cjs,mjs,jsx}) or (any of: package.json)
  yarn sort-package-json: any of: package.json
